<div class="container">
    <div class="row">
        <div class="col-md-6 search">
            <form method="get" action="{% url 'finder_order' %}">
                <div id="custom-search-input" class="input-group">
                    <input type="text" name="code" id="query" value="{{ request.GET.code }}" class="form-control"
                           placeholder="Rastree su pedido"/>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success">
                            <i class="icon icon-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>