{% extends "base.html" %}

{% block title %}Datos del Cliente{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center text-primary mb-4">Confirmación de Compra - Paso 3</h2>

        <div class="row justify-content-center">
            <div class="col-md-8 bg-white rounded shadow p-4">
                <h3 class="text-center text-dark mb-4">Productos Comprados</h3>
                <ul class="list-group">
                    {% for product in products %}
                        <li class="list-group-item bg-light border-0">
                            {{ product.name }} {{ product.quantity }} - Precio por unidad: {{ product.price }} €
                        </li>
                    {% endfor %}
                </ul>
                <br>
                <div class="list-group">
                    <p class="list-group-item">Gastos de envío: {{ delivery_cost }} €</p>
                </div>
                <div class="list-group">
                    <p class="list-group-item" style="font-weight: bold;">Total del pedido: {{ cost }} €</p>
                </div>
                <h3 class="mt-4 text-center text-dark mb-3">Introducir datos</h3>
                <form method="post" style="width: 60%; margin: 20px auto; padding: 20px; background-color: #ffffff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); text-align: center;">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_user_name" style="display: block; margin-bottom: 8px; color: #333;">Nombre:</label>
                        <input type="text" name="user_name" id="id_user_name" class="form-control" placeholder="Ingrese su nombre" required>
                        <small class="form-text text-muted">Este campo es requerido.</small>
                    </div>
                    <div class="form-group">
                        <label for="id_delivery_address" style="display: block; margin-bottom: 8px; color: #333;">Dirección de Envío:</label>
                        <input type="text" name="delivery_address" id="id_delivery_address" class="form-control" placeholder="Ingrese su dirección de envío" required>
                        <small class="form-text text-muted">Este campo es requerido.</small>
                    </div>
                    <div class="form-group">
                        <label for="id_user_email" style="display: block; margin-bottom: 8px; color: #333;">Correo Electrónico:</label>
                        <input type="email" name="user_email" id="id_user_email" class="form-control" placeholder="Ingrese su correo electrónico" required>
                        <small class="form-text text-muted">Este campo es requerido.</small>
                    </div>
                    <div class="text-center button-container mt-4">
                        <button type="button" class="btn" id="previous-btn" onclick="goToPreviousStep()" style="background-color: #dc3545; color: #ffffff; margin-top: 10px; border: none; margin-right: 10px;">Ir al Paso Anterior</button>
                        {% if user_is_logged_in %}
                            <button type="button" class="btn" id="auto-fill-btn" onclick="autoFillData()" style="background-color: #28a745; color: #ffffff; margin-top: 10px; border: none; margin-right: 10px;">Rellenar Automáticamente</button>
                        {% endif %}
                        <button type="submit" class="btn btn-primary" id="next-btn" style="background-color: #007bff; color: #ffffff; margin-top: 10px; border: none;">Finalizar Compra</button>
                    </div>
                </form>
                <div class="warning mt-4 text-center bg-light rounded shadow p-4">
                    <p class="text-muted">Por favor, tenga en cuenta que no se admiten devoluciones.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function goToPreviousStep() {
            var order_id = '{{ new_order_id }}';
            var previousStepUrl = '/order/finish/' + order_id + '/step2/';
            window.location.href = previousStepUrl;
        }

        function autoFillData() {
            var user_name = "{{ request.user.username }}";
            var delivery_address = "{{ request.user.address|default:'' }}";  // Usar cadena vacía si es None
            var user_email = "{{ request.user.email }}";

            document.getElementById('id_user_name').value = user_name || '';
            document.getElementById('id_delivery_address').value = delivery_address || '';
            document.getElementById('id_user_email').value = user_email || '';
        }
    </script>
{% endblock %}



