{% extends "base.html" %}

{% block title %}Confirmación de Compra - Paso 2{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center text-primary mb-4">Confirmación de Compra - Paso 2</h2>

        <div class="row justify-content-center">
            <div class="col-md-8 bg-white rounded shadow p-4">
                <h3 class="text-center text-dark mb-4">Productos Comprados</h3>
                <ul class="list-group">
                    {% for product in products %}
                        <li class="list-group-item bg-light border-0">
                            {{ product.name }} {{ product.quantity }} - Precio por unidad: {{ product.price }} €
                        </li>
                    {% endfor %}
                </ul>

                <h3 class="mt-4 text-center text-dark mb-3">Selecciona Método de Entrega</h3>

                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        {{ form.delivery_method.label_tag }}
                        {{ form.delivery_method }}
                        <small id="delivery-method-error" class="form-text text-muted">Este campo es requerido.</small>
                    </div>

                    <div class="text-center button-container mt-4">
                        <button type="button" class="btn btn-danger" id="previous-btn" onclick="goToPreviousStep()">Ir al Paso Anterior</button>
                        {% if user_is_logged_in %}
                            <button type="button" class="btn btn-success" id="auto-fill-btn" onclick="autoFillData()">Mi Método Favorito</button>
                        {% endif %}
                        <button type="submit" class="btn btn-primary" id="next-btn">Ir al Siguiente Paso</button>
                    </div>
                </form>

                <div class="warning mt-4 text-center bg-light rounded shadow p-4">
                    <p class="text-muted">
                        El precio de los gastos de envío es de 0€ en los pedidos de más de 50€.
                    </p>
                    <p class="text-muted">
                        Por favor, ten en cuenta que no se admiten devoluciones.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
        function goToPreviousStep() {
            var previousStepUrl = '/order/finish/{{ order_id }}/step1/';
            window.location.href = previousStepUrl;
        }

        function autoFillData() {
            var delivery_method = "{{ request.user.delivery_method }}";
            document.getElementById('id_delivery_method').value = delivery_method;
        }

        // Función para manejar la validación del formulario antes de enviarlo
        document.querySelector('form').addEventListener('submit', function (event) {
            var deliveryMethodError = document.getElementById('delivery-method-error');
            var deliveryMethodField = document.getElementById('id_delivery_method');

            // Validación del campo de método de entrega
            if (!deliveryMethodField.value) {
                deliveryMethodError.textContent = 'Este campo es requerido.';
                event.preventDefault();  // Evita que el formulario se envíe si hay errores
            } else {
                deliveryMethodError.textContent = '';  // Limpia el mensaje si el campo es válido
            }
        });
    </script>
{% endblock %}



