{% extends "base.html" %}

{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #343a40;
            margin: 0;
            padding: 0;
        }

        .container2 {
            display: flex;
            width: 80%;
            margin: 20px auto;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .left-half {
            flex: 1;
            padding: 20px;
            border-right: 1px solid #ddd;
            text-align: center;
        }

        .left-half img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .left-half .description-box {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-top: 20px;
            text-align: left;
        }

        .left-half label {
            display: block;
            margin-top: 10px;
            font-size: 1.2em;
            color: #333;
        }


        .left-half button {
            padding: 15px 10px;
            background-color: #343a40;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .left-half button:hover {
            background-color: #000000;
        }

        .right-half {
            flex: 1;
            padding: 20px;
        }

        h1 {
            color: #333;
            font-size: 2em;
            font-weight: bold;
        }

        p {
            margin-bottom: 10px;
        }

        strong {
            color: #444aa0;
            font-weight: bold;
            font-size: 1.2em;
        }

        .attribute {
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .criteria-box {
            display: inline-block;
            padding: 5px 7px;
            margin: 0 3px 3px 0;
            background-color: #343a40;
            color: white;
            border-radius: 2px;
        }
        .reviews-section {
            margin-top: 20px;
        }

        .reviews-list {
            list-style: none;
            padding: 0;
        }

        .review-item {
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 15px;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .review-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        .review-header strong {
            font-size: 1.2em;
        }

        .review-date {
            font-size: 0.9em;
            color: #777;
        }

        .review-description {
            font-size: 1em;
            line-height: 1.4;
        }

        .no-reviews {
            font-style: italic;
            color: #777;
        }


        .add-review-section {
            margin-top: 20px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #f9f9f9;
        }

        .add-review-section h2 {
            color: #333;
            font-size: 1.5em;
        }

        .add-review-section form {
            margin-top: 15px;
        }

        .add-review-section label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        .add-review-section input[type="text"],
        .add-review-section textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .add-review-section button {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .add-review-section button:hover {
            background-color: #0056b3;
        }
        .overlay-image {
            position: absolute;
            top: 23rem;
            left: 33rem;
            width: 21%;
            height: 21.5%;
        }

    </style>

    <div class="container2">
        <div class="left-half">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% if product.stock_amount <= 0 %}
                    <img class="overlay-image" src="/static/img/out_of_stock.png" alt="Imagen Superpuesta">
                {% endif %}
            {% else %}
                <img src="static/img/product/placeholder-image.jpg" alt="{{ product.name }}">
            {% endif %}
            <div class="description-box">

                <label for="quantity"><strong>Cantidad a comprar:</strong></label>
                {% include "product/input_quantity.html" with max=product.stock_amount %}
            </div>
        </div>

        <div class="right-half">
            <h1>{{ product.name }}</h1>
            <p class="attribute"><span style="font-size: 2.5em;">{{ product.price }} €</span></p>
            <p class="attribute"><strong>Tipo de Producto:</strong> {{ product.get_product_type_display }}</p>
            <p class="attribute"><strong>Cantidad disponible en stock:</strong> {{ product.stock_amount }}</p>
            <p class="attribute"><strong>Categoría:</strong> {{ product.get_category_display }}</p>

            <p class="attribute"><strong>Etiquetas:</strong>
                {% for criteria in product.criteria.all %}
                    <span class="criteria-box">{{ criteria.name }}</span>
                {% endfor %}
            </p>
            {% include "product/expand_text.html" with title="Descripción" description=product.description %}
        </div>
    </div>

<div class="reviews-section">
    <div class="add-review-section">
        <h2>Añadir Reseña</h2>
        <form method="post" action="{% url 'product_details' product.id %}">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit">Añadir Reseña</button>
        </form>
    </div>
    <h1>Reseñas del Producto</h1>
    {% if product.productreview_set.all %}
        <ul class="reviews-list">
            {% for review in product.productreview_set.all %}
                <li class="review-item">
                    <div class="review-header">
                        <strong>{{ review.username }}</strong>
                        <p class="review-date">Fecha: {{ review.date }}</p>
                    </div>
                    <p class="review-name">{{ review.name }}</p>
                    <p class="review-description">{{ review.description }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-reviews">No hay reseñas para este producto.</p>
    {% endif %}
</div>

{% endblock %}
