<style>
    .container-add-cart {
        display: flex;
        gap: 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid #e4e4e4;
    }

    .container-quantity {
        position: relative;
    }

    .input-quantity {
        background-color: #f7f7f7;
        border: none;
        padding: 10px;
        width: 60px;
        color: #666;
        font-weight: 500;
    }

    .input-quantity:focus {
        outline: none;
    }

    .btn-increment-decrement {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 7px;
        display: flex;
        flex-direction: column;
    }

    .btn-increment-decrement i {
        font-size: 11px;
        color: #666;
        cursor: pointer;
    }

    .fa-chevron-down:hover,
    .fa-chevron-up:hover {
        color: #1bbeb4;
    }

    .btn-add-to-cart {
        border: none;
        background-color: #252525;
        padding: 5px; /* Aún más pequeño el padding */
        color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-weight: 700;
        cursor: pointer;
    }

    .btn-add-to-cart:hover {
        color: #1bbeb4;
    }

    .hidden {
        display: none;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputQuantity = document.querySelector('.input-quantity');
        const btnIncrement = document.querySelector('#increment');
        const btnDecrement = document.querySelector('#decrement');
        const amount = document.querySelector('#amount');

        let valueByDefault = parseInt(inputQuantity.value);

        btnIncrement.addEventListener('click', () => {
            valueByDefault += 1;
            inputQuantity.value = valueByDefault;
            let link = amount.href.split("/");
            link[link.length-1] = valueByDefault;
        });

        btnDecrement.addEventListener('click', () => {
            if (valueByDefault === 1) {
                return;
            }
            valueByDefault -= 1;
            inputQuantity.value = valueByDefault;
            let link = amount.href.split("/");
            link[link.length-1] = valueByDefault;
            amount.href = link.join("/");
        });
    });


</script>
<script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>
<div class="container-add-cart">
    <div class="container-quantity">
        <input type="number" placeholder="1" value="1" min="1" max="{{ max }}" class="input-quantity" />
        <div class="btn-increment-decrement">
            <i class="fa-solid fa-chevron-up" id="increment"></i>
            <i class="fa-solid fa-chevron-down" id="decrement"></i>
        </div>
    </div>
    <button class="btn-add-to-cart">
        <i class="fa-solid fa-plus"></i>
        <a href={% url 'add_product' product.id 1 %} id="amount" class="btn btn-primary">Añadir</a>
    </button>
</div>


